.Menu {
  grid-row: 2/3;
  background-color: #212121;
  display: grid;
  grid-template-rows: auto 10fr auto;
}
.Menu-upper {
  place-self: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
}
.Menu-wrapper {
  grid-row: 2;
  display: grid;
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
}
.Menu-lower {
  place-self: center;
  padding-top: 1rem;
}

button {
  grid-column: 1;
  min-width: 60px;
  grid-row: 3;

  background-color: transparent;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.2rem;

  webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  border: 2px solid #494949;
}
button:hover {
  background-color: #494949;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.Menu-select {
  display: inline;
  padding: 1rem;
}
select#Menu-select {
  font-size: 0.8rem;
  cursor: pointer;
}
select#Menu-select:focus {
  outline: none;
}
.Menu-lower-splice {
  padding: 0.5rem;
  padding-top: 0.2rem;
  position: relative;
  bottom: 0;
  min-width: 50%;
}
.Menu-lower-splice.inputs {
  margin-bottom: 0;
}
