/* flexbox */
.Menu-block {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.Menu-block-upper {
  height: 100%;
  /* transition: 0.5s; */
}
.Menu-block-lower {
  height: 1rem;
  transition: 0.3s;
  pointer-events: none;
  transform: translateY(1rem);
  left: 0;
  right: 0;
  position: absolute;
}
