body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #212121;
}
::selection {
  background: #00a7af; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #00a7af; /* Gecko Browsers */
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #b8b8b8;
}
